<div class="login-box animated fadeIn">
<div class="login-box-header">
  <h2 class="thin">TRIPPER</h2>
</div>
<div class="login-box-content">
  <div class="input-field col s12 animated fadeIn" id="name" ng-show="registerMode">
    <label for="name">Name</label>
    <input type="text" class="input" ng-model="name">
  </div>
  <div class="input-field col s12">
    <label for="email">Email</label>
    <input id="email" type="email" class="input" ng-model="email">
  </div>
  <div class="input-field col s12">
    <label for="password">Password</label>
    <input id="password" type="password" class="input" ng-model="password">
  </div>
  <div class="input-field col s12">
    <button id="btn-login" class="btn-flat waves-effect waves-light accent-3 white-text" type="submit" name="action" ng-click="login()" ng-show="!registerMode">Login</button>
    <button id="btn-register" class="btn-flat waves-effect waves-light green accent-3 white-text" type="submit" name="action" ng-show="registerMode">Register</button>
  </div>
</div>
<div class="login-box-footer">
  <a href="" class="register-link hvr-grow" ng-click="register()" ng-show="!registerMode"><i class="fa fa-sign-in"></i>Cadastre-se</a>
  <a href="" class="back-link hvr-grow" ng-show="registerMode"><i class="fa fa-arrow-left"></i>Voltar</a>
</div>
</div>