<div class="login-box animated fadeIn">
<div class="login-box-header">
  <h2 class="thin">TRIPPER</h2>
</div>
<div class="login-box-content">
  <div class="hide input-field col s12 animated fadeIn">
    <label for="name">Name</label>
    <input id="name" type="text" class="input" ng-model="name">
  </div>
  <div class="input-field col s12">
    <label for="email">Email</label>
    <input id="email" type="email" class="input" ng-model="email">
  </div>
  <div class="input-field col s12">
    <label for="password">Password</label>
    <input id="password" type="password" class="input" ng-model="password">
  </div>
  <div class="input-field col s12">
    <button id="btn-login" class="btn-flat waves-effect waves-light green accent-3 white-text" type="submit" name="action" ng-click="login()">Login</button>
    <button id="btn-register" class="hide btn-flat waves-effect waves-light green accent-3 white-text" type="submit" name="action"">Register</button>
  </div>
</div>
<div class="login-box-footer">
  <a href="" class="register-link hvr-grow" ng-click="register()"><i class="fa fa-sign-in"></i>Cadastre-se</a>
</div>
</div>